/* line 5, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.gem/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * This module contains base variables that are used to re-skin (customize) the 
 * Librarian UI toolkit.
 *
 * Recommended way to customize the variables is to load a separate module 
 * containing customized values _before_ this module.
 */
/* line 4, ../../../src/scss/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../../../src/scss/_base.scss */
:focus {
  outline: none;
}

/* line 11, ../../../src/scss/_base.scss */
::-moz-focus-inner {
  border: 0;
}

/* line 14, ../../../src/scss/_base.scss */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #333;
}

/* line 19, ../../../src/scss/_base.scss */
html {
  font-family: Arial, Helvetica, "Liberation Sans", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 140%;
  background: #eee;
  color: #333;
}

/* MaterialDesignIcons.com */
@font-face {
  font-family: 'MaterialDesignIcons';
  src: url("/static/font/materialdesignicons-webfont.eot?v=1.2.64");
  src: url("/static/font/materialdesignicons-webfont.eot?#iefix&v=1.2.64") format("embedded-opentype"), url("/static/font/materialdesignicons-webfont.woff2?v=1.2.64") format("woff2"), url("/static/font/materialdesignicons-webfont.woff?v=1.2.64") format("woff"), url("/static/font/materialdesignicons-webfont.ttf?v=1.2.64") format("truetype"), url("/static/font/materialdesignicons-webfont.svg?v=1.2.64#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../../../src/scss/icons/_core.scss */
.icon {
  display: inline-block;
  font: normal normal normal 1.7rem/1 MaterialDesignIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/**
 * _sprites.scss: sprite images with high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/**
 * _hdpi_images.scss: helpers for high-dpi display support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 4, ../../../src/scss/widgets/_button.scss */
button,
.button {
  margin: 0 0.4rem;
  padding: 0 1rem;
  height: 2.1rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, "Liberation Sans", "Open Sans", sans-serif;
  line-height: 120%;
  text-decoration: none;
  background: #fafafa;
  color: #333;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #e1e1e1));
  background-image: -moz-linear-gradient(#fafafa, #e1e1e1);
  background-image: -webkit-linear-gradient(#fafafa, #e1e1e1);
  background-image: linear-gradient(#fafafa, #e1e1e1);
  border: 1px solid #aaa;
  border-top-color: #ccc;
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
/* line 35, ../../../src/scss/widgets/_button.scss */
button:hover, button:focus,
.button:hover,
.button:focus {
  border-color: #089bd2;
  background: #089bd2;
  color: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA4OWJkMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA2NzdhMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #089bd2), color-stop(100%, #0677a1));
  background-image: -moz-linear-gradient(#089bd2, #0677a1);
  background-image: -webkit-linear-gradient(#089bd2, #0677a1);
  background-image: linear-gradient(#089bd2, #0677a1);
}

/* line 4, ../../../src/scss/widgets/_input.scss */
input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=search],
input[type=url],
input[type=tel],
input[type=number],
select {
  margin: 0 0.4rem;
  padding: 0.4rem 1rem;
  height: 2.1rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, "Liberation Sans", "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  border: 1px solid #aaa;
  border-top-color: #ccc;
  border-radius: 0.3rem;
}
/* line 32, ../../../src/scss/widgets/_input.scss */
input[type=text]:hover, input[type=text]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=date]:hover,
input[type=date]:focus,
input[type=search]:hover,
input[type=search]:focus,
input[type=url]:hover,
input[type=url]:focus,
input[type=tel]:hover,
input[type=tel]:focus,
input[type=number]:hover,
input[type=number]:focus,
select:hover,
select:focus {
  border-color: #089bd2;
}

/* line 9, ../../../src/scss/widgets/_pulldown_menubar.scss */
.o-pulldown-menubar {
  display: block;
  background: #eee;
  color: #333;
  position: fixed;
  top: -9rem;
  left: 0;
  right: 0;
  height: 15rem;
  -moz-transition: top 0.3s;
  -o-transition: top 0.3s;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}
/* line 29, ../../../src/scss/widgets/_pulldown_menubar.scss */
.o-pulldown-menubar.open {
  top: 0;
}
/* line 32, ../../../src/scss/widgets/_pulldown_menubar.scss */
.o-pulldown-menubar.open .o-pulldown-menubar-hbar-activator {
  background-color: #089bd2;
  color: #fff;
}
/* line 24, ../../../src/scss/icons/_icons.scss */
.o-pulldown-menubar.open .o-pulldown-menubar-hbar-activator-icon:before {
  content: "\f214";
}
/* line 46, ../../../src/scss/widgets/_pulldown_menubar.scss */
.o-pulldown-menubar .o-pulldown-menubar-menu {
  position: relative;
  width: 100%;
  height: 9rem;
  background-color: #089bd2;
  color: #fff;
}
/* line 57, ../../../src/scss/widgets/_pulldown_menubar.scss */
.o-pulldown-menubar .o-pulldown-menubar-hbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6rem;
}
/* line 66, ../../../src/scss/widgets/_pulldown_menubar.scss */
.o-pulldown-menubar .o-pulldown-menubar-hbar-activator {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 100%;
  text-align: center;
  text-decoration: none;
  line-height: 6rem;
  background-color: #eee;
  color: #333;
  -moz-border-radius-bottomright: 0.4rem;
  -webkit-border-bottom-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
/* line 87, ../../../src/scss/widgets/_pulldown_menubar.scss */
.o-pulldown-menubar .o-pulldown-menubar-hbar-activator:hover, .o-pulldown-menubar .o-pulldown-menubar-hbar-activator:focus {
  background: #089bd2;
  color: #fff;
}
/* line 93, ../../../src/scss/widgets/_pulldown_menubar.scss */
.o-pulldown-menubar .o-pulldown-menubar-hbar-bar {
  position: absolute;
  left: 8rem;
  right: 0;
  top: 0;
  height: 100%;
}
/* line 103, ../../../src/scss/widgets/_pulldown_menubar.scss */
.o-pulldown-menubar .o-pulldown-menubar-hbar-activator-label {
  position: relative;
  top: -3px;
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/elements/1x-s296eeee2a6.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  vertical-align: middle;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  margin-right: -0.2rem;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 103, ../../../src/scss/widgets/_pulldown_menubar.scss */
  .o-pulldown-menubar .o-pulldown-menubar-hbar-activator-label {
    background-image: url('../img/elements/2x-sa9df75d0c0.png');
    background-position: 0 0;
    -moz-background-size: 64px 64px;
    -o-background-size: 64px 64px;
    -webkit-background-size: 64px 64px;
    background-size: 64px 64px;
  }
}
/* line 116, ../../../src/scss/widgets/_pulldown_menubar.scss */
.o-pulldown-menubar .o-pulldown-menubar-hbar-activator-icon {
  vertical-align: middle;
  position: relative;
  top: -3px;
  font-size: 180%;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 24, ../../../src/scss/icons/_icons.scss */
.o-pulldown-menubar .o-pulldown-menubar-hbar-activator-icon:before {
  content: "\f211";
}

/* line 3, ../../../src/scss/widgets/_main_panel.scss */
.o-main-panel {
  padding-top: 6rem;
  padding-bottom: 2rem;
  padding-left: 0;
  padding-right: 0;
}

/* line 5, ../../../src/scss/widgets/_statusbar.scss */
.o-statusbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 16, ../../../src/scss/widgets/_statusbar.scss */
.o-statusbar.open .o-statusbar-status {
  max-height: 10rem;
}
/* line 24, ../../../src/scss/icons/_icons.scss */
.o-statusbar.open .o-statusbar-hbar-activator-icon:before {
  content: "\f211";
}
/* line 27, ../../../src/scss/widgets/_statusbar.scss */
.o-statusbar .o-statusbar-hbar {
  position: relative;
  height: 2.25rem;
  width: 100%;
  background: #fafafa;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #e1e1e1));
  background-image: -moz-linear-gradient(#fafafa, #e1e1e1);
  background-image: -webkit-linear-gradient(#fafafa, #e1e1e1);
  background-image: linear-gradient(#fafafa, #e1e1e1);
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
/* line 41, ../../../src/scss/widgets/_statusbar.scss */
.o-statusbar .o-statusbar-status {
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
}
/* line 50, ../../../src/scss/widgets/_statusbar.scss */
.o-statusbar .o-statusbar-hbar-activator {
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
}
/* line 58, ../../../src/scss/widgets/_statusbar.scss */
.o-statusbar .o-statusbar-hbar-activator .o-statusbar-hbar-activator-label {
  display: none;
}
/* line 64, ../../../src/scss/widgets/_statusbar.scss */
.o-statusbar .o-statusbar-hbar-activator-icon {
  width: 100%;
  height: 100%;
  padding-top: 0.2rem;
  font-size: 180%;
  text-align: center;
  color: #333;
}
/* line 24, ../../../src/scss/icons/_icons.scss */
.o-statusbar .o-statusbar-hbar-activator-icon:before {
  content: "\f214";
}

/**
 * PANELS
 *
 * Panels are generic containers. They can be nested within each other, and 
 * they don't have any inherent styling. Styling for panel groups is applied
 * using the mixins in this module. Each mixin defines the layout of a fixed
 * set of panels (e.g., split-panel deals with a single parent, and two 
 * children).
 *
 * All panels should have a class specified by global $o-container-class 
 * variable in the params module.
 */
/**
 * split-panel($split)
 *
 * Panel that has two child containers that split the width at certain 
 * coordinate given by $split argument.
 *
 * Children span the entire height of the parent container, and parent has a 
 * specific height given by the $height argument.
 *
 * The $split-from-right argument can either be yes or no. If splitting is done
 * from right, then the right side panel would be that wide, otherwise the 
 * $split width is given to the left panel.
 *
 */
/**
 * double-split-panel($split-left, $split-right, $height)
 *
 * Panel that contains three children, of which the first is left-aligned, with
 * fixed width specified by $split-left argument, last is right-aligned with
 * a width given by $split-right argument, and second child takes up the 
 * remaining space between them. Note that $split-right argument is counted 
 * from the right edge, not from left.
 *
 * The containing panel height is given by the $height argument, and the child 
 * panels span the full height.
 */
/* line 8, ../../../src/scss/widgets/_contextbar.scss */
.o-contextbar {
  display: block;
  position: relative;
  height: 100%;
}
/* line 35, ../../../src/scss/elements/_panels.scss */
.o-contextbar > .o-panel {
  position: absolute;
  top: 0;
  bottom: 0;
}
/* line 42, ../../../src/scss/elements/_panels.scss */
.o-contextbar > .o-panel:first-child {
  left: 0;
  right: 4.5rem;
}
/* line 47, ../../../src/scss/elements/_panels.scss */
.o-contextbar > .o-panel:last-child {
  width: 4.5rem;
  right: 0;
}
/* line 12, ../../../src/scss/widgets/_contextbar.scss */
.o-contextbar .o-contextbar-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
}
/* line 25, ../../../src/scss/widgets/_contextbar.scss */
.o-contextbar .o-contextbar-menu:hover, .o-contextbar .o-contextbar-menu:focus {
  background: transparent;
  color: #089bd2;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
/* line 36, ../../../src/scss/widgets/_contextbar.scss */
.o-contextbar .o-contextbar-menu-label {
  display: none;
}
/* line 43, ../../../src/scss/widgets/_contextbar.scss */
.o-contextbar .o-contextbar-menu-icon {
  position: relative;
  top: 1.6rem;
  width: 100%;
  text-align: center;
  text-align: center;
  font-size: 220%;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 24, ../../../src/scss/icons/_icons.scss */
.o-contextbar .o-contextbar-menu-icon:before {
  content: "\f3f1";
}

/* line 5, ../../../src/scss/widgets/_multisearch.scss */
.o-multisearch {
  width: 100%;
  display: block;
  position: relative;
  height: 100%;
}
/* line 85, ../../../src/scss/elements/_panels.scss */
.o-multisearch > .o-panel {
  position: absolute;
  top: 0;
  bottom: 0;
}
/* line 91, ../../../src/scss/elements/_panels.scss */
.o-multisearch > .o-panel:first-child {
  left: 0;
  width: 14rem;
}
/* line 96, ../../../src/scss/elements/_panels.scss */
.o-multisearch > .o-panel:last-child {
  right: 0;
  width: 6rem;
}
/* line 101, ../../../src/scss/elements/_panels.scss */
.o-multisearch > .o-panel:nth-child(2) {
  left: 14rem;
  right: 6rem;
}
/* line 10, ../../../src/scss/widgets/_multisearch.scss */
.o-multisearch > .o-panel {
  padding: 1.6rem 0;
}
/* line 13, ../../../src/scss/widgets/_multisearch.scss */
.o-multisearch > .o-panel:first-child {
  padding-left: 2rem;
}
/* line 17, ../../../src/scss/widgets/_multisearch.scss */
.o-multisearch > .o-panel:last-child {
  padding-right: 2rem;
}
/* line 23, ../../../src/scss/widgets/_multisearch.scss */
.o-multisearch select, .o-multisearch input[type=text], .o-multisearch button {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
/* line 29, ../../../src/scss/widgets/_multisearch.scss */
.o-multisearch input[type=text] {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
/* line 36, ../../../src/scss/widgets/_multisearch.scss */
.o-multisearch select {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 41, ../../../src/scss/widgets/_multisearch.scss */
.o-multisearch button {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 46, ../../../src/scss/widgets/_multisearch.scss */
.o-multisearch .o-multisearch-button-icon {
  font-size: 180%;
}
/* line 24, ../../../src/scss/icons/_icons.scss */
.o-multisearch .o-multisearch-button-icon:before {
  content: "\f3de";
}
/* line 53, ../../../src/scss/widgets/_multisearch.scss */
.o-multisearch .o-multisearch-button-label {
  display: none;
}
