@import "compass/css3";
@import "base/params";

button,
.button {
  // Basic geometry
  padding: $o-button-padding;
  height: $o-input-height;

  // Typography
  font-size: $o-input-text-size;
  font-family: $o-input-font;
  line-height: $o-button-line-height;
  text-decoration: none;

  // Styling
  background: $o-button-face-color;
  color: $o-button-text-color;
  @if $o-button-face-shading {
    @include background-image(linear-gradient($o-button-face-shading));
  }

  // Border
  border: $o-input-outline;
  border-top-color: $o-input-outline-highlight-color;
  border-radius: $o-input-corner-radius;

  // Interaction
  cursor: pointer;
  position: relative;
  display: inline-block;

  // Alternative 
  &:hover,
  &:focus {
    border-color: $o-input-focus-outline;
    background: $o-button-hover-face-color;
    color: $o-button-hover-text-color;
    @if $o-button-hover-face-shading {
      @include background-image(linear-gradient($o-button-hover-face-shading));
    }
  }

  &.clean {
    padding: 0;
    height: auto;
    background: transparent;
    border: 0;
    @include border-radius(0);

    &:hover,
    &:focus {
      background: transparent;
      color: $o-accent;
      @include background-image(none);
    }
  }

  .icon {
    font-size: 120%;
  }
}

.buttons {
  // Typography
  text-align: right;

  // Basic geometry
  margin-top: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

a.button {
  padding: 0.36rem 1rem;
}
