@import "compass/css3";
@import "base/params";
@import "icons/icons";

.o-collapsible {
  .o-collapsible-section {
    // Basic geometry
    position: relative;
    overflow: hidden;
    max-height: 80rem;

    // FX
    @include transition(max-height $o-animation-speed);

    // Header
    & > :nth-child(1) {
      // Typography
      line-height: $o-clickable-target-size;
      font-size: 120%;

      // Basic geometry
      position: relative;
      margin: 0;
      padding-left: 1rem;
      z-index: 1;
      height: $o-clickable-target-size;

      // Styling
      cursor: pointer;
      background: $o-foreground-material;
      border-top: $o-separator-border;

      .icon {
        // Typography
        font-size: 180%;

        // Basic geometry
        vertical-align: middle;

        // Icon
        @include mdi-icon('menu-down');
      }

      &:hover,
      &:focus {
        color: $o-accent;
      }
    }

    // Container
    & > :nth-child(2) {
      // Basic geometry
      padding: 20px;
      overflow: hidden;
      margin: 0;

      // Styling
      border-top: $o-widget-border;
      @include box-shadow(inset 0 0 1px transparentize(black, 0.5));
      background: $o-material;
      border-bottom: 1px solid white;
    }  

    &.o-collapsed > :nth-child(1) .icon {
      @include mdi-icon('menu-right');
    }

    &.o-collapsed  {
      // We use !important here because JavaScript will set the max-height of 
      // uncollapsed section on the element itself making that height higher
      // priority in the cascade.
      max-height: $o-clickable-target-size !important;
    }
  }
}
