@import "compass/css3";
@import "base/params";
@import "elements/icons";

@mixin field-note {
    // Typography
    font-style: italic;

    // Basic geometry
    position: relative;
    display: inline-block;
    padding-left: 2rem;
    margin-top: 0.2rem;

    &:before {
      @include icon-base;
      position: absolute;
      font-size: 120%;
      left: 0.7rem;
      top: 0;
    }
}

form {
  .o-field-help {
    @include field-note;

    // Styling
    color: $o-form-help-text-color;

    // Icon
    @include icon($o-form-help-icon);
  }

  .o-field-error {
    @include field-note;

    // Styling
    color: $o-form-error-text-color;

    // Icon
    @include icon($o-form-error-icon);
  }

  .o-form-errors {
    background: transparentize($o-form-error-text-color, 0.9);
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .o-form-error {
    color: $o-form-error-text-color;
    @include icon($o-form-error-icon);
    margin-bottom: 0.2rem;
    
    &:before {
      @include icon-base;
      margin-right: 0.2rem;
    }
  }
}
