@import "compass/css3";

$oicons-prefix: '' !default;

$glyphs: (
  alert-key: '\f101',
  alert-outline: '\f102',
  alert-question: '\f103',
  alert-stop: '\f104',
  alert: '\f105',
  app-files: '\f106',
  app-library: '\f107',
  app-twitter: '\f108',
  arrow-down: '\f109',
  arrow-left: '\f10a',
  arrow-right: '\f10b',
  arrow-up: '\f10c',
  atmark: '\f10d',
  audio: '\f10e',
  box-minus: '\f10f',
  box-plus: '\f110',
  circle-arrow-down: '\f111',
  circle-arrow-in-down: '\f112',
  circle-arrow-in-left: '\f113',
  circle-arrow-in-right: '\f114',
  circle-arrow-in-up: '\f115',
  circle-arrow-left: '\f116',
  circle-arrow-right: '\f117',
  circle-arrow-up: '\f118',
  circle-dot: '\f119',
  circle-ok: '\f11a',
  circle-power: '\f11b',
  circle: '\f11c',
  clock: '\f11d',
  close: '\f11e',
  discard: '\f11f',
  download: '\f120',
  edit-outline: '\f121',
  edit: '\f122',
  enter: '\f123',
  ethernet: '\f124',
  exit: '\f125',
  expand-down: '\f126',
  expand-left: '\f127',
  expand-right: '\f128',
  expand-up: '\f129',
  favorite: '\f12a',
  file-audio: '\f12b',
  file-binary: '\f12c',
  file-globe: '\f12d',
  file-image: '\f12e',
  file-music: '\f12f',
  file-text-image: '\f130',
  file-text: '\f131',
  file-vector: '\f132',
  file-video: '\f133',
  file: '\f134',
  folder-audio: '\f135',
  folder-circle: '\f136',
  folder-down: '\f137',
  folder-generic: '\f138',
  folder-html: '\f139',
  folder-image: '\f13a',
  folder-left: '\f13b',
  folder-locked: '\f13c',
  folder-multi: '\f13d',
  folder-no: '\f13e',
  folder-ok: '\f13f',
  folder-plus: '\f140',
  folder-right: '\f141',
  folder-up: '\f142',
  folder-video: '\f143',
  folder: '\f144',
  gallery: '\f145',
  generic: '\f146',
  globe: '\f147',
  help-outline: '\f148',
  help: '\f149',
  html: '\f14a',
  image: '\f14b',
  import: '\f14c',
  info-outline: '\f14d',
  info: '\f14e',
  key: '\f14f',
  list: '\f150',
  listen: '\f151',
  lock: '\f152',
  menu: '\f153',
  message-alert: '\f154',
  message: '\f155',
  minus-outline: '\f156',
  minus: '\f157',
  multi-type: '\f158',
  network-bridge: '\f159',
  no-outline: '\f15a',
  no: '\f15b',
  ok-outline: '\f15c',
  ok: '\f15d',
  other-outline: '\f15e',
  other: '\f15f',
  outernet: '\f160',
  play: '\f161',
  plus-outline: '\f162',
  plus: '\f163',
  read: '\f164',
  satellite: '\f165',
  search: '\f166',
  settings: '\f167',
  signal: '\f168',
  sound: '\f169',
  spinner: '\f16a',
  storage-internal: '\f16b',
  storage-usbdrive: '\f16c',
  storage-usbstick: '\f16d',
  tuner: '\f16e',
  tweet: '\f16f',
  unlock: '\f170',
  user-exclamation: '\f171',
  user-key: '\f172',
  user-minus: '\f173',
  user-multiple: '\f174',
  user-no: '\f175',
  user-ok: '\f176',
  user-plus: '\f177',
  user-shield: '\f178',
  user-star: '\f179',
  user-unknown: '\f17a',
  user-up: '\f17b',
  user: '\f17c',
  video: '\f17d',
  watch: '\f17e',
  wifi: '\f17f',
);

@include keyframes('spin') {
  from { @include rotate(0deg); }
  to { @include rotate(360deg); }
}

// Shortcut to add font-face definition
@mixin icon-font-face {
  @include font-face(
    'OIcons', font-files(
      "#{$oicons-prefix}oicons-5ebf47a7c519a75c9c8081f54ede8970.eot",
      "#{$oicons-prefix}oicons-5ebf47a7c519a75c9c8081f54ede8970.ttf",
      "#{$oicons-prefix}oicons-5ebf47a7c519a75c9c8081f54ede8970.woff"));
}

// Base styles for all icons
@mixin icon-base {
  // Typography
  font-family: "OIcons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;

  // Basic geometry
  display: inline-block;
  speak: none;
  vertical-align: middle;

  // Text rendering settings
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & ~ * {
    vertical-align: middle;
  }
}

// Mixin for a single icon
@mixin icon($name) {
  &:before {
    content: map-get($glyphs, $name);
  }
}

@mixin spinner($size: 100%) {
  @include icon(spinner);
  @include animation(spin 2s linear infinite);
  font-size: $size;
}

// Shortcut to add all icon classes
@mixin icon-classes {
  .icon {
    @include icon-base;
  }

  @each $name in map-keys($glyphs) {
    .icon-#{$name} {
      @include icon($name);
    }
  }

  .icon-spinning-loader {
    @include spinner;
  }

  .icon-spinning-loader-xxl {
    @include spinner(300%);
  }
}
