@import "compass/css3";

$oicons-prefix: '' !default;

$glyphs: (
  alert-key: '\f101',
  alert-outline: '\f102',
  alert-question: '\f103',
  alert-stop: '\f104',
  alert: '\f105',
  app-files: '\f106',
  app-library: '\f107',
  arrow-down: '\f108',
  arrow-left: '\f109',
  arrow-right: '\f10a',
  arrow-up: '\f10b',
  audio: '\f10c',
  box-minus: '\f10d',
  box-plus: '\f10e',
  circle-arrow-down: '\f10f',
  circle-arrow-in-down: '\f110',
  circle-arrow-in-left: '\f111',
  circle-arrow-in-right: '\f112',
  circle-arrow-in-up: '\f113',
  circle-arrow-left: '\f114',
  circle-arrow-right: '\f115',
  circle-arrow-up: '\f116',
  circle-dot: '\f117',
  circle-ok: '\f118',
  circle-power: '\f119',
  circle: '\f11a',
  clock: '\f11b',
  close: '\f11c',
  edit-outline: '\f11d',
  edit: '\f11e',
  enter: '\f11f',
  ethernet: '\f120',
  exit: '\f121',
  expand-down: '\f122',
  expand-left: '\f123',
  expand-right: '\f124',
  expand-up: '\f125',
  favorite: '\f126',
  file-audio: '\f127',
  file-binary: '\f128',
  file-image: '\f129',
  file-music: '\f12a',
  file-text-image: '\f12b',
  file-text: '\f12c',
  file-vector: '\f12d',
  file-video: '\f12e',
  file: '\f12f',
  folder-circle: '\f130',
  folder-down: '\f131',
  folder-left: '\f132',
  folder-locked: '\f133',
  folder-no: '\f134',
  folder-ok: '\f135',
  folder-plus: '\f136',
  folder-right: '\f137',
  folder-up: '\f138',
  folder: '\f139',
  generic: '\f13a',
  globe: '\f13b',
  help-outline: '\f13c',
  help: '\f13d',
  html: '\f13e',
  image: '\f13f',
  info-outline: '\f140',
  info: '\f141',
  key: '\f142',
  lock: '\f143',
  menu: '\f144',
  message-alert: '\f145',
  message: '\f146',
  minus-outline: '\f147',
  minus: '\f148',
  no-outline: '\f149',
  no: '\f14a',
  other-outline: '\f14b',
  other: '\f14c',
  outernet: '\f14d',
  plus-outline: '\f14e',
  plus: '\f14f',
  satellite: '\f150',
  search: '\f151',
  settings: '\f152',
  spinner: '\f153',
  unlock: '\f154',
  user-exclamation: '\f155',
  user-key: '\f156',
  user-minus: '\f157',
  user-multiple: '\f158',
  user-no: '\f159',
  user-ok: '\f15a',
  user-plus: '\f15b',
  user-shield: '\f15c',
  user-star: '\f15d',
  user-unknown: '\f15e',
  user-up: '\f15f',
  user: '\f160',
  video: '\f161',
  wifi: '\f162',
);

@include keyframes('spin') {
  from { @include rotate(0deg); }
  to { @include rotate(360deg); }
}

// Shortcut to add font-face definition
@mixin icon-font-face {
  @include font-face(
    'OIcons', font-files(
      "#{$oicons-prefix}oicons-1453f2d721c4c63985cf4d4391ff866b.eot",
      "#{$oicons-prefix}oicons-1453f2d721c4c63985cf4d4391ff866b.ttf",
      "#{$oicons-prefix}oicons-1453f2d721c4c63985cf4d4391ff866b.woff"));
}

// Base styles for all icons
@mixin icon-base {
  // Typography
  font-family: "OIcons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;

  // Basic geometry
  display: inline-block;
  speak: none;
  vertical-align: middle;

  // Text rendering settings
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    line-height: 1;
    vertical-align: baseline;
  }

  & ~ * {
    vertical-align: middle;
  }
}

// Mixin for a single icon
@mixin icon($name) {
  &:before {
    content: map-get($glyphs, $name);
  }
}

@mixin spinner($size: 100%) {
  @include icon(spinner);
  @include animation(spin 2s linear infinite);
  font-size: $size;
}

// Shortcut to add all icon classes
@mixin icon-classes {
  .icon {
    @include icon-base;
  }

  @each $name in map-keys($glyphs) {
    .icon-#{$name} {
      @include icon($name);
    }
  }

  .icon-spinning-loader {
    @include spinner;
  }

  .icon-spinning-loader-xxl {
    @include spinner(300%);
  }
}
