/**
 * This module contains base variables that are used to re-skin (customize) the 
 * Librarian UI toolkit.
 *
 * Recommended way to customize the variables is to load a separate module 
 * containing customized values _before_ this module.
 */
/* line 6, ../../../../src/scss/widgets/collapsible.scss */
.o-collapsible .o-collapsible-section {
  position: relative;
  overflow: hidden;
  max-height: 1000px;
  -moz-transition: max-height 0.6s;
  -o-transition: max-height 0.6s;
  -webkit-transition: max-height 0.6s;
  transition: max-height 0.6s;
}
/* line 16, ../../../../src/scss/widgets/collapsible.scss */
.o-collapsible .o-collapsible-section > :nth-child(1) {
  line-height: 3rem;
  font-size: 120%;
  margin: 0;
  padding-left: 1rem;
  cursor: pointer;
  background: white;
  border-top: 1px solid #ddd;
}
/* line 24, ../../../../src/scss/icons/_icons.scss */
.o-collapsible .o-collapsible-section > :nth-child(1) .icon:before {
  content: "\f3f2";
}
/* line 36, ../../../../src/scss/widgets/collapsible.scss */
.o-collapsible .o-collapsible-section > :nth-child(2) {
  padding: 20px;
  overflow: hidden;
  margin: 0;
  border-top: 1px solid #aaa;
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  background: #eee;
  border-bottom: 1px solid white;
}
/* line 24, ../../../../src/scss/icons/_icons.scss */
.o-collapsible .o-collapsible-section.dash-collapsed > :nth-child(1) .icon:before {
  content: "\f3f4";
}
/* line 53, ../../../../src/scss/widgets/collapsible.scss */
.o-collapsible .o-collapsible-section.dash-collapsed {
  max-height: 3rem;
}
